.Navbar{
	height: 50px;
	width: 100%;
	background-color: var(--primary-colour);
	display: flex;
	flex-direction: row;
}

.NavbarItem{
	height: 50px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.NavbarItem:hover{
	background-color: var(--secondary-colour);
}